<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->
    <script>
        window.transitionToPage = function(href) {
            document.querySelector('body').style.opacity = 0
            setTimeout(function() {
                window.location.href = href
            }, 500)
        }

        document.addEventListener('DOMContentLoaded', function(event) {
            document.querySelector('body').style.opacity = 1
        })
    </script>

    <style>
        body {
            background-color: #ffb3c1;
        }
    </style>
</head>

<body>
    <div class="page-top" style="background-color: black; color: white; text-align: center; font-size: x-large;">Road to PASSION</div>
    <br/>
    <main role="main" class="container">
        <div>
            <div style="text-align: center;">
                <p style="font-size: large;">Based on the results, we recommend... </p>
                <h1><b>Diploma in Business & Financial Technology (C35)</b></h1>
                <p>Range of net EL2R2B2: 10 to 15</p>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Diploma in Business & Financial Technology</b> is for you if you are keen to be part of the digital transformation wave, integrating your technical and business knowledge.</p>
            </div>
            <div>
                <p>Get ready for today's global digital transformation, as technologies change the way organisations operate. You will gain insight into how innovations, such as digital marketing, blockchain, data analytics, cloud computing and fintech,
                    are disrupting the business and financial environment and creating value for various industries.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Build a strong foundation in technical, business and financial knowledge. Boost your capabilities so as to participate in the financial sector’s digital transformation.</li>
                    <li>Gain expertise in solutions like blockchain and cloud computing, and learn how these apply to different areas in the finance industry.</li>
                    <li>Look forward to exciting opportunities in the tech or financial industries, where you can apply your skills to innovate solutions for the digital economy.</li>
                </ul>
            </div>
        </div>

        <div class="wrapper-drag-div">
            <span onclick="transitionToPage('/templates/tile_customization')" class="btn btn-primary">Customize my tile!</span>
        </div>

        <br />

</body>

</html>