<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">

    <!-- Scripts -->
    <script src="../scripts/ScoreTallying.js"></script>
</head>

<body>
    <!-- navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Flask Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/quiz">Quiz</a>
                        <a class="nav-item nav-link" href="/drag_and_drop">Tiles</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div>
            <div>
                <h2><b>Common ICT Programme (C36)</b></h2>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Common ICT Programme</b> is for you if you want exposure to a wide range of exciting IT
                    technologies, so that you can discover your area of interest.</p>
            </div>
            <div>
                <p>Passionate about IT, but can’t decide which area to specialise in? The Common ICT Programme helps you
                    gain essential IT skills and exposure to different sectors, such as cybersecurity, software
                    development, network administration and digital business. This will help you discover where your
                    interests and aptitude lie, so that you can decide which diploma to take in your second year.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Discover your area of interest in IT through a range of foundational modules.</li>
                    <li>Understand more about the various IT sectors through learning journeys to various companies.
                    </li>
                    <li>Benefit from education and career guidance activities that will help you in choosing your
                        diploma course.</li>
                </ul>
            </div>
        </div>
</body>

</html>