<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->

    <style>
        body {
            background-color: #00c8b8;
        }
    </style>
</head>

<body>
    <div class="page-top" style="background-color: black; color: white; text-align: center; font-size: x-large;">Road to PASSION</div>
    <br/>
    <main role="main" class="container">
        <div>
            <div style="text-align: center;">
                <p style="font-size: large;">Based on the results, we recommend... </p>
                <h1><b>Diploma in Cybersecurity & Digital Forensics (C54)</b></h1>
                <p>Range of net EL2R2B2: 3 to 9 </p>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Diploma in Cybersecurity & Digital Forensics</b> is for you if you believe that the online
                    world should be kept secure, and you want to play a part.</p>
            </div>
            <div>
                <p>Put a stop to financial scams, data breaches, computer hacking, virus attacks and identity thefts.
                    This interdisciplinary course prepares you for a career in cybersecurity, where you can actively
                    prevent cyberattacks and help organisations protect their networks and data. Learn the core concepts
                    and critical issues in cybersecurity and digital forensics, as well as how to implement effective
                    solutions.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Use suitable cybersecurity tools and solutions to protect and defend IT infrastructure against
                        cyber-attacks and network intrusions.</li>
                    <li>Develop competencies in cybersecurity and advanced digital forensic techniques to perform
                        incident response and real-time forensics analysis in security breaches and incidents.</li>
                    <li>Look forward to exciting career opportunities in various industries, where you will create and
                        execute effective solutions for cybersecurity.</li>
                </ul>
            </div>
        </div>

        <div class = "wrapper-drag-div">
            <a href="/templates/tile_customization.html" class="btn btn-primary">Customize my tile!</a>
        </div>

        <br />
        
</body>

</html>