<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/main.css" />

    <title>Road to PASSION</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.9.0.min.js"></script>
</head>

<body>
    <br />
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-11">
                <div>
                    <h1>Road to PASSION</h1>
                    <p>take this profiling tool to understand your personality and strength to help you identify suitable diploma options!</p>
                </div>
                <div>
                    <img src="/static/images/home_final.png">
                </div>
                <br/>
                <div class="wrapper">
                    <p>Click on the button below to take the quiz!</p>
                    <a href="/templates/quiz.html" class="btn btn-primary" style="text-align: center; color: white; ">Begin</a>
                </div>
            </div>
        </div>

        <script>
            const s3 = new AWS.S3({
                accessKeyId: "AKIARZFVAVYWKZXHGKN4",
                secretAccessKey: "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",
                region: "us-east-2"
            })

            function uploadImage() {
                var params = {
                    Bucket: 'fypj2022',
                    Key: 'mykey',
                    Body: 'HelloWorld'
                };

                s3.putObject(params, function(err, res) {
                    if (err) {
                        console.log("ERROR: ", err);
                    } else {
                        console.log("Successfully uploaded data to" + params.Bucket);
                    }
                });

                // var param2 = {
                //     Bucket: "fypj2022",
                //     Prefix: "tile_images"
                // }
                // s3.listObjects(param2, function(err, data) {
                //     if (err) {
                //         throw err;
                //     }
                //     console.log(data);
                // });
            }

            //S3Authentication();
            // uploadImage();
            //setTimeout(uploadImage, 3000)
        </script>
</body>

</html>