<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="../scripts/ScoreTallying.js"></script>
</head>

<body>
    <!-- navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Road to PASSION</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/quiz">Quiz</a>
                        <a class="nav-item nav-link" href="/drag_and_drop">Tiles</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div>
            <div>
                <h2><b>Diploma in Infocomm and Security (C80)</b></h2>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Diploma in Infocomm and Security</b> is for you if you are eager to design innovative IT
                    solutions using a wide range of exciting technologies.</p>
            </div>
            <div>
                <p>Embark on an exciting journey to develop secure innovative solutions linking computers and smart
                    sensors. You will gain skills and knowledge in the latest fields such as the Internet of Things,
                    cybersecurity, data analytics and infocommunications. Through hands-on projects, you will gain the
                    technical expertise and business acumen to make your mark in the industry as an IT professional.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Discover what goes into making modern IT solutions, and how you can develop your own.</li>
                    <li>Write programs to connect software and electronics. Develop innovative solutions, build and
                        connect networks, and prevent cyberattacks.</li>
                    <li>Specialise in one of the following emerging technologies: systems and network security,
                        enterprise infrastructure or infocomm solutions.</li>
                </ul>
            </div>
        </div>

        <div class = "wrapper-drag-div">
            <a href="/drag_and_drop" class="btn btn-primary">Customize my tile!</a>
        </div>

        <br />
        
</body>

</html>