<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->

    <style>
        body {
            background-color: #fd5e53;
        }
    </style>
</head>

<body>
    <div class="page-top" style="background-color: black; color: white; text-align: center; font-size: x-large;">Road to PASSION</div>
    <br/>
    <main role="main" class="container">
        <div>
            <div style="text-align: center;">
                <p style="font-size: large;">Based on the results, we recommend... </p>
                <h1><b>Diploma in Infocomm and Security (C80)</b></h1>
                <p>Range of net EL2R2B2: 6 to 11</p>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Diploma in Infocomm and Security</b> is for you if you are eager to design innovative IT
                    solutions using a wide range of exciting technologies.</p>
            </div>
            <div>
                <p>Embark on an exciting journey to develop secure innovative solutions linking computers and smart
                    sensors. You will gain skills and knowledge in the latest fields such as the Internet of Things,
                    cybersecurity, data analytics and infocommunications. Through hands-on projects, you will gain the
                    technical expertise and business acumen to make your mark in the industry as an IT professional.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Discover what goes into making modern IT solutions, and how you can develop your own.</li>
                    <li>Write programs to connect software and electronics. Develop innovative solutions, build and
                        connect networks, and prevent cyberattacks.</li>
                    <li>Specialise in one of the following emerging technologies: systems and network security,
                        enterprise infrastructure or infocomm solutions.</li>
                </ul>
            </div>
        </div>

        <div class = "wrapper-drag-div">
            <a href="/drag_and_drop" class="btn btn-primary">Customize my tile!</a>
        </div>

        <br />
        
</body>

</html>