<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="../scripts/ScoreTallying.js"></script>
</head>

<body>
    <!-- navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Road to PASSION</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/quiz">Quiz</a>
                        <a class="nav-item nav-link" href="/drag_and_drop">Tiles</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div>
            <div>
                <h2><b>Diploma in Information Technology (C85)</b></h2>
            </div>
            <br />
            <div>
                <h3>About the Course</h3>
            </div>
            <div>
                <p>The <b>Diploma in Information Technology</b> is for you if you want to build a better world with
                    technologies like artificial intelligence and cloud computing.</p>
            </div>
            <div>
                <p>Ever wondered how your ride-hailing app can identify the nearest GrabCar’s location? Or how Facebook
                    recognises you in any photo? This course exposes you to the different areas of IT that make these
                    activities possible. Learn to develop innovative software solutions and take your first step in
                    building a coveted career in artificial intelligence or cloud computing.</p>
            </div>
            <div>
                <p><b>This diploma lets you...</b></p>
                <ul>
                    <li>Discover how artificial intelligence and machine learning really work to make our lives easier.
                    </li>
                    <li>Build a strong foundation in programming and gain practical skills in developing innovative
                        solutions.</li>
                    <li>Look forward to an exciting career building IT solutions that can be used in various industries.
                    </li>
                </ul>
            </div>
        </div>

        <div class = "wrapper-drag-div">
            <a href="/drag_and_drop" class="btn btn-primary">Customize my tile!</a>
        </div>

        <br />
        
</body>

</html>